@page "/"
@rendermode InteractiveServer
@inject NavigationManager Nav

<div>
    <h1>Welcome to PPSNR</h1>
    <p>Your gateway to seamless soul link nuzlocke collaborations.</p>
    <button class="btn btn-primary" @onclick="() => MoveToPairs()">View Streamer Pairs</button>
</div>

@code {
    private void MoveToPairs()
    {
        Nav.NavigateTo("/pairs");
    }
}