@inherits LayoutComponentBase
@using PPSNR.Server.Components.Layout

<style>
    body {
        background: transparent !important;
        margin: 0;
        padding: 0;
    }
    html {
        background: transparent !important;
        margin: 0;
        padding: 0;
    }
    #app {
        background: transparent !important;
        margin: 0;
        padding: 0;
    }
</style>
<div class="browser-source-layout">
@Body
</div>

<ReconnectModal/>

@* Ensure editor scripts are loaded for pages using the EmptyLayout (like the Edit page) *@
<script src="js/antiforgery.js"></script>
<script src="js/editor-drag.js"></script>
