<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p id="ppsnr-reconnect-status" class="my-10px">
            Reconnecting...
        </p>
        <p id="ppsnr-retry-counter" class="d-none mt-10px fs-90 text-muted">
            Retry attempt #<span id="ppsnr-retry-count">0</span> in <span id="ppsnr-retry-next">5</span>s...
        </p>
    </div>
</dialog>