@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@* Ensure essential editor scripts are available on pages using this layout *@
<script src="js/antiforgery.js"></script>
<script src="js/editor-drag.js"></script>

@code {}
